.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F9F6F4;
}

/* НОВАЯ ОБЕРТКА ДЛЯ КОНТЕНТА */
.main_content_wrapper {
  width: 100%;
  flex-grow: 1;
  /* Задаем максимальную ширину контента и центрируем его */
  max-width: 1400px; /* Широкий контейнер для "воздуха" */
  margin: 0 auto;
  /* ГЛАВНОЕ: Глобальные отступы по бокам, чтобы контент не прилипал к краям */
  padding: 0 40px; 
}

/* Медиа-запрос для мобильных устройств, чтобы отступы были меньше */
@media (max-width: 768px) {
  .main_content_wrapper {
    padding: 0 20px;
  }
}